body {
    background-color: darkgray;
}
#bodyLogin{
    background: rgb(99,51,51);
    background: linear-gradient(90deg, rgba(99,51,51,1) 0%, rgba(35,11,101,1) 100%);
}
/*cor de fundo do body = cinza, bodyLogin = degrade*/
#bodyContato{
    background: #2c4355;
}
#menu {
    width: 100%;
    height: 80px;
    background-color: red;
    text-align: center;
}
#menu img{
    height: 60px;
}
.linkMenu {
    color: aliceblue;
    font-size: 2em;
    margin-left: 20px;
    margin-right: 20px; /*espaços entre as letras*/
    text-decoration: none;
}
.parte1 {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.parte1 img {
    height: 500px;
}
.parte1 h1 {
    color: red;
}
.parte1 p {
    font-family: 'Times New Roman', Times, serif;
    color: azure;
}
.login {
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: azure;
    font-size: 2em;
}
.login h1{
    font-family: Arial, Helvetica, sans-serif;
}
.login img{
    height: 50px;
}
.contato{
    width: 100%;
    height: 80px;
    background-color: red;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}